@{
    ViewData["Title"] = "Credits API";
}

    <div>
        <h1 class="display-4">Welcome!</h1>
        <p>Welcome to the public RESTful API to the Credits network</p>
        <p>
            There are some permanent links to GET statistics from HTML pages: <a href="./stats">/stats</a>
        </p>
    </div>
