@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/s/Extension.js"></script>

    <script src="~/js/s/CreditsWork.js"></script>
    <script src="~/js/s/Base58.js"></script>

    @*<script src="~/js/s/t1.js"></script>*@
</head>
<body>
    <button onclick="CLICK()">sadfsdf</button>
    <script>
       $( document ).ready(function() {
        var script = $(`<script><\/script>`);
        script.attr("src", "/js/s/t1.js");
        $(document.body).append(script);
    });
    </script>
</body>
</html>
